<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Examen': 'Crear Examen'}}</span>
      </div>
    </div>
    <mat-card class="form-edit">
      <form class="col-md-12" [formGroup]="formExamen"
        (ngSubmit)="edit ? updateExamenGeneral(): saveNewExamenGeneral()">
        <div class="row">
          <div class="col-md-6">
            <h5>Datos del examen</h5>
          </div>
          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-button id="examenGeneralEstado" (click)="activarInactivar()"></button>
            <button mat-flat-button color="primary" id="examenGeneralGuardar"
              [disabled]="!examenGeneral.estado || !formExamen.valid">Guardar</button>
            <button mat-flat-button color="warn" (click)="cancelarEdicion()">{{edit ? 'Cerrar': 'Cancelar'}}</button>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" required type="text">
              <mat-error *ngIf="examenNombreCtrl.hasError('required')">
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Alias</mat-label>
              <input matInput formControlName="alias" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Clave del examen</mat-label>
              <input matInput formControlName="clave" type="text">
            </mat-form-field>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoriaId" required>
                <mat-option *ngFor="let categoria of Categoria" [value]="categoria.categoriaId">{{categoria.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="examenCategoriaCtrl.hasError('required')">
                La categoria es obligatoria
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Formato de impresion</mat-label>
              <mat-select formControlName="layout" required>
                <mat-option *ngFor="let layouts of ListLayouts" [value]="layouts.value">{{layouts.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="examenLayoutCtrl.hasError('required')">
                El formato de impresion es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Precio</mat-label>
              <input matInput type="number" formControlName="precio">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Titulo izquierdo</mat-label>
              <input matInput formControlName="tituloIzquierdo" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Titulo central</mat-label>
              <input matInput formControlName="tituloCentro" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Titulo derecho</mat-label>
              <input matInput formControlName="tituloDerecho" type="text">
            </mat-form-field>
          </div>
        </div>
        <small class="margin-up">Titulo impreso en la hoja fisica</small>
        <mat-divider></mat-divider>
        <ng-template [ngIf]='edit'>
          <div class="row">
            <div class="col-md-12">
              <small>Fecha creación: {{examenGeneral.fechaCreacion}}</small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <small>Fecha actualización: {{examenGeneral.fechaActualizacion}} </small>
            </div>
          </div>
        </ng-template>

      </form>
    </mat-card>

    <div *ngIf="edit">
      <div class="form-edit">
        <div class="row">
          <div class="col-md-12">
            <button mat-icon-button [matMenuTriggerFor]="menuExamen" aria-label="Menu estudios examen">
              <mat-icon>more_vert</mat-icon>
              Estudios del examen
            </button>
            <mat-menu #menuExamen="matMenu">
              <button mat-menu-item (click)="openDialogoEstudio(false,0,false, '','')">
                <mat-icon>text_snippet</mat-icon>
                <span>Añadir estudio</span>
              </button>
              <button mat-menu-item (click)="openDialogoSeccion(false,'',0)">
                <mat-icon>ballot</mat-icon>
                <span>Añadir seccion</span>
              </button>
              <button mat-menu-item (click)="openDialog(seccion.seccion.seccionId, 0, true, false)">
                <mat-icon>local_library</mat-icon>
                <span>Añadir metodo</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <ng-template [ngIf]="ExamenSeccion.length == 0 && ExamenEstudioList.length == 0">
          <div class="row margin-up">
            <div class="col-md-12">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                ¡Sin estudios agregados!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
        <mat-card class="width-100 margin-up" *ngFor="let seccion of ExamenSeccion">
          <div class="row">
            <div class="col-md-4">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
                {{seccion.seccion.titulo || seccion.seccion.nombre}}
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item
                  (click)="openDialogoSeccion(true, seccion.seccion, seccion.orden)">
                  <mat-icon>create</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="openDialogoEstudio(true,seccion.seccion.seccionId,false,'','')">
                  <mat-icon>text_snippet</mat-icon>
                  <span>Añadir estudio</span>
                </button>
                <button mat-menu-item (click)="openDialog(seccion.seccion.seccionId, 0, true, false)">
                  <mat-icon>local_library</mat-icon>
                  <span>Añadir metodo</span>
                </button>
                <button mat-menu-item (click)="removerSeccion(seccion.seccion.seccionId, seccion.seccion.nombre)">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </div>
            <div class="col-md-4">
              {{seccion.seccion.textoCent}}
            </div>
            <div class="col-md-4" class="text-center" [innerHTML]="seccion.seccion.textoDer">
            </div>
          </div>


          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                <mat-accordion multi *ngFor="let estudio of seccion.estudio" class="form-edit col-md-12">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        &nbsp;
                        {{estudio.nombre}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="width-100 text-right">
                          Orden: {{estudio.orden}}
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row">
                      <div class="col-md-12 text-right buttons-catalogo">

                      </div>
                    </div>
                    <div *ngIf="!estudio.comodin; else elseComodin" class="row">
                      <div class="col-md-4">
                        <span class="badge badge-secondary">Resultados predeterminado:</span>
                        <mat-list role="list">
                          <mat-list-item role="listitem" *ngFor="let resultado of estudio.resultadoSelect">
                            <button mat-icon-button aria-label="-"
                              (click)="deleteRespuestaPredeterminada(estudio.estudioId,estudio.resultadoSelect, resultado.value)"
                              matTooltip="Eliminar">
                              <mat-icon>remove</mat-icon>
                            </button>
                            {{resultado.viewValue}}
                          </mat-list-item>
                        </mat-list>
                      </div>
                      <div class="col-md-4">
                        <span class="badge badge-secondary">Metodos:</span>
                        <mat-list-item role="listitem" *ngFor="let metodo of estudio.metodo">
                          <button mat-icon-button aria-label="-"
                            (click)="removeMetodo(0,estudio.estudioId, metodo.metodoId, false, false)"
                            matTooltip="Eliminar">
                            <mat-icon>remove</mat-icon>
                          </button>
                          {{metodo.nombre}}
                        </mat-list-item>
                      </div>
                      <div class="col-md-4">
                        <span class="badge badge-secondary">Referencias:</span>
                        <div class="row">
                          <div class="col-md-12" *ngFor="let referencia of estudio.referencia">
                            <button mat-icon-button [matMenuTriggerFor]="menuRefSecc" aria-label="opciones" matTooltip="Opciones">
                              <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menuRefSecc="matMenu">
                              <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId,true, true, referencia)">
                                <mat-icon>create</mat-icon>
                                <span>Editar</span>
                              </button>
                              <button mat-menu-item (click)="eliminarReferencia(referencia.referenciaId, estudio.estudioId, true)">
                                <mat-icon>delete_forever</mat-icon>
                                <span>Eliminar</span>
                              </button>
                            </mat-menu>
                            <strong>{{referencia.clasificacion.nombre}}</strong>
                            <p>Masculino {{referencia.referenciaMasculino}}</p>
                            <p>Femenino: {{referencia.referenciaFemenino}}</p>
                            <p>General: {{referencia.referenciaGeneral}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ng-template #elseComodin>
                      <p>Este estudio fue marcado como comodin</p>
                    </ng-template>
                    <mat-action-row>
                      <button mat-button [matMenuTriggerFor]="menuEstudio" aria-label="Menu estudio">
                        Acciones
                      </button>
                      <mat-menu #menuEstudio="matMenu">
                        <button mat-menu-item
                          (click)="openDialogoEstudio(true,seccion.seccion.seccionId,true,estudio.estudioId,estudio.nombre,estudio.orden)">
                          <mat-icon>create</mat-icon>
                          <span>Editar</span>
                        </button>
                        <button mat-menu-item [disabled]="estudio.comodin"
                          (click)="openDialogReferencia(estudio.estudioId,true, false, '')">
                          <mat-icon>people</mat-icon>
                          <span>Añadir referencia</span>
                        </button>
                        <button mat-menu-item [disabled]="estudio.comodin"
                          (click)="openDialog(seccion.seccion.seccionId,estudio.estudioId, false, false)">
                          <mat-icon>local_library</mat-icon>
                          <span>Añadir metodo</span>
                        </button>
                        <button mat-menu-item [disabled]="estudio.comodin"
                          (click)="openDialogRespuesta(estudio.estudioId, estudio.resultadoSelect, seccion.seccion.seccionId)">
                          <mat-icon>list_alt</mat-icon>
                          <span>Resultado predet.</span>
                        </button>
                        <button mat-menu-item (click)="hacerComodin(estudio.estudioId, estudio.comodin)">
                          <mat-icon>assignment_late</mat-icon>
                          <span>Comodin</span>
                        </button>
                        <button mat-menu-item
                          (click)="removerEstudioPorSeccion(seccion.seccion.seccionId, estudio.estudioId, estudio.nombre)">
                          <mat-icon>delete_forever</mat-icon>
                          <span>Eliminar</span>
                        </button>
                      </mat-menu>
                    </mat-action-row>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </mat-card-content>

          <div class="col-md-12 margin-up-down">
            <div class="row">
              <div class="col-md-12">
                <mat-chip-list aria-label="Seleccion de metodo">
                  <mat-chip [selectable]="selectable" [removable]="removable" *ngFor="let metodo of seccion.metodo" (removed)="removeMetodo(seccion.seccion.seccionId, 0, metodo.metodoId, true, false)">
                    {{metodo.nombre}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-accordion *ngFor="let estudio of ExamenEstudioList" class="form-edit col-md-12">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{estudio.nombre}}
              </mat-panel-title>
              <mat-panel-description>
                <div class="width-100 text-right">

                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row margin-up">
              <div class="col-md-4">
                <span class="badge badge-secondary">Resultados predeterminado:</span>
                <mat-list role="list">
                  <mat-list-item role="listitem" *ngFor="let resultado of estudio.resultadoSelect">
                    <button mat-icon-button aria-label="-"
                      (click)="deleteRespuestaPredeterminada(estudio.estudioId,estudio.resultadoSelect, resultado.value)"
                      matTooltip="Eliminar">
                      <mat-icon>remove</mat-icon>
                    </button>
                    {{resultado.viewValue}}
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="col-md-4">
                <span class="badge badge-secondary">Metodos:</span>
                <mat-list-item role="listitem" *ngFor="let metodo of estudio.metodo">
                  <button mat-icon-button aria-label="-"
                    (click)="removeMetodo(0,estudio.estudioId, metodo.metodoId, false, true)"
                    matTooltip="Eliminar">
                    <mat-icon>remove</mat-icon>
                  </button>
                  {{metodo.nombre}}
                </mat-list-item>
              </div>
              <div class="col-md-4">
                <span class="badge badge-secondary">Referencias:</span>
                <div class="row">
                  <div class="col-md-12" *ngFor="let referencia of estudio.referencia">
                    <button mat-icon-button [matMenuTriggerFor]="menuRefExamen" aria-label="opciones" matTooltip="Opciones">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menuRefExamen="matMenu">
                      <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId,false, true, referencia)">
                        <mat-icon>create</mat-icon>
                        <span>Editar</span>
                      </button>
                      <button mat-menu-item (click)="eliminarReferencia(referencia.referenciaId, estudio.estudioId, false)">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Eliminar</span>
                      </button>
                    </mat-menu>
                    <strong>{{referencia.clasificacion.nombre}}</strong>
                    <p>Femenino: {{referencia.referenciaFemenino}}</p>
                    <p>Masculino: {{referencia.referenciaMasculino}}</p>
                    <p>General: {{referencia.referenciaGeneral}}</p>
                    <div *ngIf="referencia.nota != '' ">Nota: {{referencia.nota}}</div>
                  </div>
                </div>
              </div>
            </div>

            <mat-action-row>
              <button mat-button [matMenuTriggerFor]="menuEstudioExamen" aria-label="Menu estudio examen">
                Acciones
              </button>
              <mat-menu #menuEstudioExamen="matMenu">
                <button mat-menu-item
                (click)="openDialogoEstudio(true,0,true,estudio.estudioId,estudio.nombre,estudio.orden)">
                <mat-icon>create</mat-icon>
                <span>Editar</span>
              </button>
                <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId, false, false, '')">
                  <mat-icon>people</mat-icon>
                  <span>Añadir referencia</span>
                </button>
                <button mat-menu-item (click)="openDialog(0,estudio.estudioId, false, true)">
                  <mat-icon>local_library</mat-icon>
                  <span>Añadir metodo</span>
                </button>
                <button mat-menu-item [disabled]="estudio.comodin"
                  (click)="openDialogRespuesta(estudio.estudioId, estudio.resultadoSelect, seccion.seccion.seccionId)">
                  <mat-icon>list_alt</mat-icon>
                  <span>Resultado predet.</span>
                </button>
                <button mat-menu-item (click)="removerEstudioPorExamen(estudio.estudioId, estudio.nombre)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </mat-action-row>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>