<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Examen': 'Crear Examen'}}</span>
      </div>
    </div>
    <mat-card class="form-edit">
      <form class="col-md-12" [formGroup]="formExamen"
        (ngSubmit)="edit ? updateExamenGeneral(): saveNewExamenGeneral()">
        <div class="row">
          <div class="col-md-6">
            <h5>Datos del examen</h5>
          </div>
          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-button id="examenGeneralEstado" (click)="activarInactivar()"></button>
            <button mat-flat-button color="primary" id="examenGeneralGuardar"
              [disabled]="!examenGeneral.estado || !formExamen.valid">Guardar</button>
            <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre" required type="text">
              <mat-error *ngIf="examenNombreCtrl.hasError('required')">
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Alias</mat-label>
              <input matInput formControlName="alias" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Titulo examen</mat-label>
              <input matInput formControlName="titulo" type="text">
            </mat-form-field>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Clave del examen</mat-label>
              <input matInput formControlName="clave" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Categoría</mat-label>
              <mat-select formControlName="categoriaId" required>
                <mat-option *ngFor="let categoria of Categoria" [value]="categoria.categoriaId">{{categoria.nombre}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="examenCategoriaCtrl.hasError('required')">
                La categoria es obligatoria
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Precio</mat-label>
              <input matInput type="number" formControlName="precio">
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
        <div class="row margin-up">
          <div class="col-md-4">
            <mat-form-field class="input-full-width">
              <mat-label>Formato de impresion</mat-label>
              <input matInput formControlName="layout" required type="number">
              <mat-error *ngIf="examenLayoutCtrl.hasError('required')">
                El formato de impresion es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <small>Fecha creación: {{examenGeneral.fechaCreacion}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <small>Fecha actualización: {{examenGeneral.fechaActualizacion}} </small>
          </div>
        </div>
      </form>
    </mat-card>

    <div *ngIf="edit">
      <mat-card class="form-edit">
        <div class="row">
          <button mat-icon-button [matMenuTriggerFor]="menuExamen" aria-label="Menu estudios examen">
            <mat-icon>more_vert</mat-icon>
            Estudios del examen
          </button>
          <mat-menu #menuExamen="matMenu">
            <button mat-menu-item (click)="openDialogoEstudio(false,0)">
              <mat-icon>text_snippet</mat-icon>
              <span>Añadir estudio</span>
            </button>
            <button mat-menu-item (click)="openDialogoSeccion()">
              <mat-icon>ballot</mat-icon>
              <span>Añadir seccion</span>
            </button>
          </mat-menu>
        </div>
        <ng-template [ngIf]="ExamenSeccion.length == 0 && ExamenEstudioList.length == 0">
          <div class="row margin-up">
            <div class="col-md-12">
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                ¡Sin estudios agregados!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
        <mat-card class="width-100 margin-up" *ngFor="let seccion of ExamenSeccion">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
            {{seccion.seccion.titulo || seccion.seccion.nombre}}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogoEstudio(true,seccion.seccion.seccionId)">
              <mat-icon>text_snippet</mat-icon>
              <span>Añadir estudio</span>
            </button>
            <button mat-menu-item (click)="openDialog(seccion.seccion.seccionId, 0, true)">
              <mat-icon>local_library</mat-icon>
              <span>Añadir metodo</span>
            </button>
            <button mat-menu-item (click)="removerSeccion(seccion.seccion.seccionId, seccion.seccion.nombre)">
              <mat-icon>delete_sweep</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
          <mat-card-content>
            <div class="row">
              <div class="col-md-12">
                <mat-accordion *ngFor="let estudio of seccion.estudio" class="form-edit col-md-12">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        &nbsp;
                        {{estudio.nombre}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="width-100 text-right">
                          Orden: {{estudio.orden}}
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row">
                      <div class="col-md-12 text-right buttons-catalogo">
                        <button mat-button [matMenuTriggerFor]="menuEstudio" aria-label="Menu estudio">
                          Acciones
                        </button>
                        <mat-menu #menuEstudio="matMenu">
                          <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId,true)">
                            <mat-icon>ballot</mat-icon>
                            <span>Añadir referencia</span>
                          </button>
                          <button mat-menu-item (click)="openDialog(seccion.seccion.seccionId,estudio.estudioId, false)">
                            <mat-icon>text_snippet</mat-icon>
                            <span>Añadir metodo</span>
                          </button>
                          <button mat-menu-item>
                            <mat-icon>create</mat-icon>
                            <span>Editar</span>
                          </button>
                          <button mat-menu-item (click)="removerEstudioPorSeccion(seccion.seccion.seccionId, estudio.estudioId, estudio.nombre)">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Eliminar</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <span class="badge badge-secondary">Referencias:</span>
                      </div>
                    </div>
                    <div class="row margin-up">
                      <div class="col-md-6" *ngFor="let referencia of estudio.referencia">
                        <strong>{{referencia.clasificacion.nombre}}</strong>
                        <p>Femenino: {{referencia.referenciaFemenino}}</p>
                        <p>Masculino {{referencia.referenciaMasculino}}</p>
                        <p>General: {{referencia.referenciaGeneral}}</p>
                      </div>
                    </div>
                    <div class="row margin-up">
                      <div class="col-md-12">
                        <span class="badge badge-secondary">Metodos:</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">

                      </div>
                    </div>

                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </mat-card-content>

          <div class="col-md-12 margin-up-down">
            <div class="row">
              <div class="col-md-12">
                <mat-chip-list aria-label="Seleccion de metodo">
                  <mat-chip [selectable]="selectable" [removable]="removable" (removed)="removeMetodo(1)"
                    *ngFor="let metodo of seccion.metodo">
                    {{metodo.nombre}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </div>
        </mat-card>

        <mat-accordion *ngFor="let estudio of ExamenEstudioList" class="form-edit col-md-12">
          <mat-expansion-panel (afterExpand)="obtenerReferencia(estudio.estudioId)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{estudio.nombre}}
              </mat-panel-title>
              <mat-panel-description>
                <div class="width-100 text-right">

                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-12 text-right buttons-catalogo">
                <button mat-button [matMenuTriggerFor]="menuEstudioExamen" aria-label="Menu estudio examen">
                  Acciones
                </button>
                <mat-menu #menuEstudioExamen="matMenu">
                  <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId, false)">
                    <mat-icon>ballot</mat-icon>
                    <span>Añadir referencia</span>
                  </button>
                  <button mat-menu-item (click)="openDialogReferencia(estudio.estudioId)">
                    <mat-icon>text_snippet</mat-icon>
                    <span>Añadir metodo</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>create</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item (click)="removerEstudioPorExamen(estudio.estudioId, estudio.nombre)">
                    <mat-icon>delete_forever</mat-icon>
                    <span>Eliminar</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="badge badge-secondary">Referencias:</span>
              </div>
            </div>
            <div class="row margin-up">
              <div class="col-md-6" *ngFor="let referencia of estudio.referencia">
                <strong>{{referencia.clasificacion.nombre}}</strong>
                <p>Femenino: {{referencia.referenciaFemenino}}</p>
                <p>Masculino {{referencia.referenciaMasculino}}</p>
                <p>General: {{referencia.referenciaGeneral}}</p>
              </div>
            </div>
            <div class="row margin-up">
              <div class="col-md-12">
                <span class="badge badge-secondary">Metodos:</span>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>