<div class="row all-table">
  <div class="col-md-12">

    <div class="card input-full-width form-edit">
      <div class="card-body">
        <h5 class="card-title">Datos del menu</h5>
        <form [formGroup]="formMenu" (ngSubmit)="edit ? actualizarMenu(): guardarMenu()">
          <div class="row">
            <div class="col-md-12 text-right buttons-catalogo">
              <button mat-flat-button color="primary" type="submit" id="seccionGuardar"
                [disabled]="!menu.estado || !formMenu.valid">Guardar</button>
              <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
            </div>
          </div>
          <div class="row margin-up">
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <mat-label>Nombre del menu</mat-label>
                <input matInput placeholder="Nombre del menu" formControlName="nombre" required>
                <mat-error *ngIf="menuNombreCtrl.hasError('required')">
                  El nombre del menu es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <mat-label>Ruta</mat-label>
                <input matInput placeholder="La ruta" formControlName="ruta" required>
                <mat-error *ngIf="menuRutaCtrl.hasError('required')">
                  La ruta es obligatoria
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <mat-label>Desplegable</mat-label>
                <mat-select formControlName="dropdown" required>
                  <mat-option value="false">No</mat-option>
                  <mat-option value="true">SI</mat-option>
                </mat-select>
                <mat-error *ngIf="menuDropdownCtrl.hasError('required')">
                  La opcion desplegable es obligatoria.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <mat-label>Icono</mat-label>
                <input matInput formControlName="icono">
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card input-full-width form-edit">
      <div class="card-body">
        <h5 class="card-title">Menus registrados</h5>
        <div class="row margin-up margin-left">
          <div class="col-md-6">
            <div *ngFor="let menu of menuSubmenu" class="row">
              <button mat-icon-button [matMenuTriggerFor]="menuMenu" aria-label="Menu estudios examen">
                <mat-icon>more_vert</mat-icon>
              </button>
              {{menu.nombre}}
              <mat-menu #menuMenu="matMenu">
                <button mat-menu-item (click)="editarMenu(menu)">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-menu-item (click)="editarSubmenu([],false)">
                  <mat-icon>create_new_folder</mat-icon>
                  <span>Submenu</span>
                </button>
                <button mat-menu-item (click)="openDialog(seccion.seccion.seccionId, 0, true, false)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
              <div *ngIf="menu.submenu != null" class="col-md-12">
                <div *ngFor="let submenu of menu.submenu" class="row margin-left">
                  <button mat-icon-button [matMenuTriggerFor]="menuSub" aria-label="Menu estudios examen">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  {{submenu.nombre}}
                  <mat-menu #menuSub="matMenu">
                    <button mat-menu-item (click)="editarSubmenu(submenu, true)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="eliminarSubmenu(submenu.subMenuId)">
                      <mat-icon>delete_forever</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>