<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Metodo': 'Agregar Metodo'}}</span>
      </div>
      <div class="col-md-6 text-right buttons-catalogo">
        <button mat-button id="metodoEstado" (click)="activarInactivar()"></button>
        <button mat-button id="metodoGuardar" [disabled]="!metodo.estado" class="primary"
          (click)="edit ? updateMetodo(): saveNewMetodo()">Guardar</button>
        <button mat-button class="danger" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </div> 
    <div class="row form-edit">
      <div class="col-md-3">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nombre" [(ngModel)]="metodo.nombre" ng-required="Requerido" type="text"
            class="validate">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>