<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">{{edit ? 'Editar Médico': 'Agregar Médico'}}</div>
  <div class="page__content shadow p-3 position-relative">


    <div class="row all-table">
      <div class="col-md-12">
        <mat-card class="form-edit">
          <form class="col-md-12" [formGroup]="formAtencion" (ngSubmit)="edit ? updateAtencion(): saveNewAtencion()">
            <div class="row">
              <div class="col-md-6">
                <h5>Datos del médico</h5>
              </div>
              <div class="col-md-6 text-right buttons-catalogo">
                <button mat-button id="atencionEstado" (click)="activarInactivar()"></button>
                <button mat-flat-button color="primary" id="atencionGuardar"
                  [disabled]="!atencion.estado || !formAtencion.valid">Guardar</button>
                <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
              </div>
            </div>
            <div class="row margin-up">
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="nombre" required type="text">
                  <mat-error *ngIf="nombreCtrl.hasError('required')">
                    El nombre es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <mat-label>Apellido Paterno</mat-label>
                  <input matInput formControlName="apellidoPaterno" type="text" required>
                  <mat-error *ngIf="apellidoPaternoCtrl.hasError('required')">
                    El Apellido paterno es obligatorio
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="input-full-width">
                  <mat-label>Apellido Materno</mat-label>
                  <input matInput formControlName="apellidoMaterno" type="text">
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="edit" class="row margin-top">
              <div class="col-md-12">
                <small>Fecha creación: {{atencion.fechaCreacion}}</small>
              </div>
            </div>
            <div *ngIf="edit" class="row">
              <div class="col-md-12">
                <small>Fecha actualización: {{atencion.fechaActualizacion}} </small>
              </div>
            </div>
          </form>
        </mat-card>
      </div>
    </div>

  </div>
</div>