<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Atencion': 'Agregar Atencion'}}</span>
      </div>
      <div class="col-md-6 text-right buttons-catalogo">
        <button mat-button id="atencionEstado"  (click)="activarInactivar()"></button>
        <button mat-button id="atencionGuardar" [disabled]="!atencion.estado" class="primary"
          (click)="edit ? updateAtencion(): saveNewAtencion()">Guardar</button>
        <button mat-button class="danger" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </div>
    <div class="row form-edit">
      <div class="col-md-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nombre" [(ngModel)]="atencion.nombre" ng-required="Requerido" type="text"
            class="validate">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Apellido Paterno" [(ngModel)]="atencion.apellidoPaterno" ng-required="Requerido"
            type="text" class="validate">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Apellido Materno" [(ngModel)]="atencion.apellidoMaterno" type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>