<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Descuento': 'Agregar Descuento'}}</span>
      </div>
      <div class="col-md-6 text-right buttons-catalogo">
        <button mat-button id="descuentoEstado" (click)="activarInactivar()"></button>
        <button mat-button class="danger" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </div>

    <mat-card class="form-edit">
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuDia" matTooltip="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuDia="matMenu">
        <button mat-menu-item (click)="openDialog('dia')">
          <mat-icon>delete</mat-icon>
          <span>Añadir Día</span>
        </button>
      </mat-menu>
      Dias en los que aplica el descuento
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let dia of descuento.dias">{{dia.dia}} </mat-list-item>
      </mat-list>
    </mat-card>

    <mat-card class="form-edit">
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menuExamen" matTooltip="Opciones">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuExamen="matMenu">
        <button mat-menu-item (click)="openDialog('examen')">
          <mat-icon>delete</mat-icon>
          <span>Añadir Examen</span>
        </button>
      </mat-menu>
      Examenes del paquete
      <div class="col-md-12 form-edit">
        <div class="row " *ngFor="let examen of descuento.examen_general">
          <div class="col-md-6 text-left">
            {{examen.nombre}}
          </div>
          <div class="col-md-6 text-right">
            <p>
              <span class="badge badge-light">$ {{examen.precio}}</span>
            </p>
          </div>
        </div>
      </div>

    </mat-card>

    <mat-card class="form-edit">
      <div class="row">
        <div class="col-md-6 text-left">
          Sub Total
        </div>
        <div class="col-md-6 text-right">
            $ &nbsp;<input type="text" [disabled]="true" class="width-20 float-right descuento-disabled" [(ngModel)]="subTotal">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-left">
          Descuento
        </div>
        <div class="col-md-6 text-right">
          $ &nbsp;<input type="text" class="descuento width-20 float-right" [(ngModel)]="descuentoTotal" (ngModelChange)="obtenerDescuento($event)">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-left">
          Total
        </div>
        <div class="col-md-6 text-right">
            $ &nbsp;<input type="text" [disabled]="true" class="width-20 float-right descuento-disabled" [(ngModel)]="total">
        </div>
      </div>
    </mat-card>
    <div class="row form-edit float-right">
        <button mat-raised-button id="descuentoGuardar" [disabled]="!descuentoSave.estado" color="primary" class="float-right"
        (click)="edit ? updateDescuento(): saveNewDescuento()">Guardar</button>
    </div>


  </div>
</div>