<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Usuario': 'Agregar Usuario'}}</span>
      </div>
    </div>
    <mat-card class="form-edit">
      <form [formGroup]="formUsuario" (ngSubmit)="edit ? updateUsuario(): saveNewUsuario()">
        <div class="row">
          <div class="col-md-6">
            <h5>Datos del usuario</h5>
          </div>
          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-button id="usuarioEstado" (click)="activarInactivar()"></button>
            <button mat-flat-button color="primary" type="submit" id="usuarioGuardar"
              [disabled]="!usuario.estado || !formUsuario.valid">Guardar</button>
            <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="nombre" required>
              <mat-error *ngIf="nombreCtrl.hasError('required')">
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Apellido Paterno" formControlName="apellidoPaterno" required>
              <mat-error *ngIf="apellidoPaternoCtrl.hasError('required')">
                El apellido paterno es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Apellido Materno" formControlName="apellidoMaterno">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Cedula profesional</mat-label>
              <input matInput placeholder="Cedula profesional" formControlName="cedula">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Nombre de usuario</mat-label>
              <input matInput placeholder="Nombre Usuario" formControlName="nombreUsuario" required>
              <mat-error *ngIf="nombreUsuarioCtrl.hasError('required')">
                El nombre de usuario es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <mat-label>Contraseña</mat-label>
                <input matInput type="password"  placeholder="Contraseña" formControlName="password" required>
                <mat-error *ngIf="passwordCtrl.hasError('required')">
                  La contraseña es obligatoria
                </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
        </div>

        <div *ngIf="edit" class="row margin-top">
          <small>Fecha creación: {{usuario.fechaCreacion}}</small>
        </div>
        <div *ngIf="edit" class="row">
          <small>Fecha actualización: {{usuario.fechaActualizacion}} </small>
        </div>

      </form>
    </mat-card>

    <mat-card class="margin-up">
      <form>
        <div class="row">
          <div class="col-md-6">
            <h5>Roles del usuario</h5>
          </div>
          
          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-flat-button color="primary">Nuevo Rol</button>
            <button mat-flat-button color="primary">Guardar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-tab-group>
              <mat-tab class="margin-up" *ngFor="let rol of rolUsuario" [label]="rol.rolName"> 
                <div class="row margin-up">
                  <div class="col-md-12">
                    El {{rol.rolName}} puede acceder a los siguiente menus y submenus del sistema
                  </div>
                </div>
                <div class="row"></div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>