<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Sub-Sección': 'Agregar Sub-Sección'}}</span>
      </div>
      <div class="col-md-6 text-right buttons-catalogo">
        <button mat-button id="subSeccionEstado" (click)="activarInactivar()"></button>
        <button mat-button id="subSeccionGuardar" [disabled]="!subSeccion.estado" class="primary"
          (click)="edit ? updateSubSeccion(): saveNewSubSeccion()">Guardar</button>
        <button mat-button class="danger" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </div>
    <mat-card class="form-edit">
      <div class="row">
        <div class="col-md-5">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="subSeccion.nombre" required ng-required="true" type="text"
              class="validate">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Orden" [(ngModel)]="subSeccion.orden" required ng-required="Requerido" type="text"
              class="validate">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="input-full-width">
            <mat-select placeholder="Metodo" [(ngModel)]="metodoEscogido" required>
              <mat-option *ngFor="let metodo of Metodo" [value]="metodo.metodo_id">{{metodo.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="guardarMetodo()">
            Añadir
          </button>
        </div>
        <div class="col-md-4">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let metodo of subSeccion.metodo">{{metodo.nombre}}</mat-list-item>
          </mat-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-button-toggle-group class="form-edit" [(ngModel)]="subSeccion.alineacion_estudios"
            #group="matButtonToggleGroup">
            <mat-button-toggle value="1" aria-label="Text align left">
              <mat-icon>format_align_left</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="2" aria-label="Text align center">
              <mat-icon>format_align_center</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="3" aria-label="Text align right">
              <mat-icon>format_align_right</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <!--<div class="example-selected-value">Selected value: {{group.value}}</div>-->
          <small class="form-text text-muted">
            Alineacion de los estudios en el informe
          </small>
        </div>
      </div>
    </mat-card>
    <div id="addExamen">
      <mat-accordion class="form-edit">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Agregar Examen
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row form-edit">
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="subExamen.nombre" required ng-required="Requerido" type="text"
                  class="validate">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput pattern="[0-9]" placeholder="Orden" required [(ngModel)]="subExamen.orden"
                  ng-required="Requerido" type="text" class="validate">
              </mat-form-field>
            </div>
          </div>

          <div class="row form-edit">
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia Hombre" [(ngModel)]="subExamen.vr_hombre"
                  ng-required="Requerido" type="text" class="validate">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia Mujer" [(ngModel)]="subExamen.vr_mujer" ng-required="Requerido"
                  type="text" class="validate">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia General" [(ngModel)]="subExamen.vr_general"
                  ng-required="Requerido" type="text" class="validate">
              </mat-form-field>
            </div>
          </div>
          <div class="row form-edit">
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia Niño" [(ngModel)]="subExamen.vr_ninos" ng-required="Requerido"
                  type="text" class="validate">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia Niña" [(ngModel)]="subExamen.vr_ninas" ng-required="Requerido"
                  type="text" class="validate">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Referencia Niño/Niña" [(ngModel)]="subExamen.vr_general_n"
                  ng-required="Requerido" type="text" class="validate">
              </mat-form-field>
            </div>
          </div>
          <div class="row form-edit">
            <button mat-button id="subSeccionGuardar" class="light" (click)="saveSubExamen()">Añadir</button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-card class=" form-edit">
        <div class="row">
          <table mat-table [dataSource]="dataSource" class="input-full-width">

            <!-- sub_examen_id -->
            <ng-container matColumnDef="sub_examen_id">
              <th mat-header-cell class="width-20 width-5 thead" *matHeaderCellDef> Clave </th>
              <td mat-cell class="width-20 width-5" *matCellDef="let element"> {{element.sub_examen_id}} </td>
            </ng-container>

            <!-- nombre-->
            <ng-container matColumnDef="examen">
              <th mat-header-cell class="width-20 width-5 thead" *matHeaderCellDef> Nombre </th>
              <td mat-cell class="width-20 width-5" *matCellDef="let element"> {{element.examen}} </td>
            </ng-container>

            <!-- vr_hombre -->
            <ng-container matColumnDef="vr_hombre">
              <th mat-header-cell class="width-10 thead" *matHeaderCellDef> Ref. Hombre</th>
              <td mat-cell class="width-10" *matCellDef="let element"> {{element.vr_hombre}} </td>
            </ng-container>

            <!-- vr_mujer Column -->
            <ng-container matColumnDef="vr_mujer">
              <th mat-header-cell class="width-10 thead" *matHeaderCellDef> Ref. Mujer </th>
              <td mat-cell class="width-10" *matCellDef="let element"> {{element.vr_mujer}} </td>
            </ng-container>

            <!-- vr_general Column -->
            <ng-container matColumnDef="vr_general">
              <th mat-header-cell class="width-10 thead" *matHeaderCellDef> Ref. H/M </th>
              <td mat-cell class="width-10" *matCellDef="let element"> {{element.vr_general}} </td>
            </ng-container>

            <!-- Orden Column -->
            <ng-container matColumnDef="ordenExamen">
              <th mat-header-cell class="width-5 thead" *matHeaderCellDef> Orden </th>
              <td mat-cell class="width-5" *matCellDef="let element"> {{element.ordenExamen}} </td>
            </ng-container>

            <!--Accion Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell class="width-5 thead" *matHeaderCellDef> </th>
              <td mat-cell class="width-5" *matCellDef="let element">
                <a [routerLink]="['/subexamen/edit/', element.sub_examen_id]" mat-icon-button color="primary"
                  matTooltip="Editar examen">
                  <mat-icon>edit</mat-icon>
                </a>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="examenColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: examenColumns;"></tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>