#title-resultado{
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    -webkit-print-color-adjust: exact;
    border: 1px solid #000000;
    background-color: #66CD00 ;
}

#title-resultado p{
    margin-bottom: 0%;
    padding-bottom: 0%;
}
#title-resultado-normal{
    -webkit-print-color-adjust: exact;
    border: 1px solid #000000;
    background-color: #66CD00 ;
}

.no-margin{
    margin-bottom: .5em;
    /*padding: 0;*/
}

.imprimirEstudio{
    font-size: 10pt;
    width: 21.59cm;
    height: 1056px;
    /*display: none;*/
}

.header-image{
    width: 100%;
}

#borderInforme{
    
    height: 1280px;
    margin-left: .8em;
    margin-right: .8em;

    padding-right: 1em;
    padding-left: 1em;

    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    border: 2px solid #636bff;
}

.footer{
    position:absolute; /*El div será ubicado con relación a la pantalla*/
    margin-left:1em; /*A la derecha deje un espacio de 0px*/
    margin-right:1em; /*A la izquierda deje un espacio de 0px*/
    bottom:3em; /*Abajo deje un espacio de 0px*/
    /*height:50px; /*alto del div*/
    z-index:0;
}

.titleSubexamen{
    text-decoration: underline #000000;
}

.metodo{
    font-size: 9pt;
}

.orina{
    font-size: 8pt;
}