<div class="row form-edit">
  <div class="col-md-12">
    <mat-card>
      <div class="row">
        <mat-card-header>
          <mat-card-title>Datos del paciente</mat-card-title>
        </mat-card-header>
        <div class="col-md-12">
          <table class="table table-sm table-borderless">
            <tbody>
              <tr>
                <td>Nombre:</td>
                <td>{{pacienteModel.nombre}} {{pacienteModel.apellidoPaterno}} {{pacienteModel.apellidoMaterno}}</td>
                <td class="text-right">Folio:</td>
                <td class="bold">{{recepcionModel.ficha}}</td>
              </tr>
              <tr>
                <td>Edad:</td>
                <td class="text-left">{{calcularEdad(pacienteModel.fechaNacimiento)}}</td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>Sexo:</td>
                <td class="text-left">{{masculinoOfemenio(pacienteModel.sexo)}}</td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>Atencion:</td>
                <td class="text-left">la atencion</td>
                <td colspan="2"></td>
              </tr>
              <tr>
                <td>F. de Ingreso:</td>
                <td>{{recepcionModel.fechaIngreso}}</td>
                <td class="text-right">H. de Ingreso:</td>
                <td>{{recepcionModel.horaIngreso}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-card>

    <mat-tab-group class="form-edit">
      <mat-tab *ngFor="let examenGeneral of examenGeneralRecepcion" label="{{examenGeneral.resultado.NOMBRE}}">
        <!--
        <div class="col-md-12 form-edit" *ngFor="let informe of informes">
          <ng-template [ngIf]="informe.examen_gen_id == examenGeneral.examen_gen_id">
            <div class="row">
              <div class="col-md-4">
                <p class="bold">Informe creado por:</p>{{informe.informeUsuario.nombre}}
                {{informe.informeUsuario.apellido_paterno}} {{informe.informeUsuario.apellido_materno}}
              </div>
              <div class="col-md-2">
                <p class="bold">Fecha:</p> {{informe.fecha_informe}}
              </div>
              <div class="col-md-2">
                <p class="bold">Hora:</p> {{informe.hora_informe}}
              </div>
              <div class="col-md-2">
                <p class="bold">Terminado:</p>
                <mat-slide-toggle [color]="primary"
                  (change)="realizado(examenGeneral.realizado,examenGeneral.resultado, examenGeneral.examen_gen_id)"
                  [checked]="examenGeneral.realizado" [disabled]="disabled">
                  {{examenGeneral.realizado ? 'Si': 'No'}}
                </mat-slide-toggle>
              </div>
              <div class="col-md-2">
                <p class="bold">Impreso:</p> {{examenGeneral.impreso ? 'Si': 'No'}}
              </div>
            </div>
          </ng-template>
        </div>
        <div class="col-md-12 form-edit">
          <button mat-icon-button color="primary" matTooltip="Imprimir"
            (click)="actualizarInforme(examenGeneral.examen_gen_id, examenGeneral.impreso,examenGeneral.resultado)"
            [useExistingCss]="true" sprintTitle="Examen" printSectionId="examenGeneral.examen_gen_id" ngxPrint>
            <mat-icon>print</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Guardar Resultados" [swal]="guardarResultado">
            <mat-icon>save</mat-icon>
          </button>
          <swal #guardarResultado title="Guardar Resultado" text="¿Actualizar los resultados de este examen?"
            type="question" [showCancelButton]="true"
            (confirm)="guardarResultados(examenGeneral.resultado, examenGeneral.examen_gen_id)"
            [options]="{ cancelButtonText: 'Cancelar' }">
          </swal>
        </div>-->
        <div class="col-md-12">
          <mat-card class="form-edit">
            <!--EXAMEN DE RUTINA 1-->
            <ng-template [ngIf]="examenGeneral.resultado != null">
              <div class="row">
                <div class="col-md-12">
                  <ng-template [ngIf]="examenGeneral.resultado.SECCION">
                    <div>
                      <!--table-borderless-->
                      <table class="table table-sm table-borderless">
                        <tbody *ngFor="let seccion of examenGeneral.resultado.SECCION">
                          <tr class="titleSubexamen">{{seccion.seccion.nombre}}</tr>
                          <tr *ngFor="let estudio of seccion.estudio">
                            <td class="width-30">{{estudio.nombre}}</td>
                            <td class="width-20">
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="estudio.resultado">
                            </td>
                            <td class="width-50"></td>
                          </tr>
                        </tbody>
                      </table>
                      <span *ngFor="let metodo of examenGeneral.resultado.METODO_EXAMEN_GENERAL" class="metodo">Metodo El metodo</span>
                    </div>
                  </ng-template>

                  <ng-template [ngIf]="examenGeneral.resultado.ESTUDIO">
                    <table class="table table-sm table-borderless">
                      <tbody>
                        <tr *ngFor="let estudio of examenGeneral.resultado.ESTUDIO">
                          <td class="width-20">
                            <button mat-icon-button color="warn" aria-label="remover"
                              (click)="removerSubExamenSubSeccion(seleccion.EXAMEN_GEN_ID, subSeccion.NOMBRE, estudio.NOMBRE)">
                              <mat-icon>remove</mat-icon>
                            </button>
                            {{estudio.nombre}}
                          </td>
                          <td class="width-20">
                            <input type="text" class="form-control form-control-sm" id="examen"
                              [(ngModel)]="estudio.resultado">
                          </td>
                          <td colspan="1" class="with-60"></td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                  <!--<table class="table table-sm table-borderless">
                        <tbody>
                          <tr >
                            <td class="width-20">
                              <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                                (click)="removerSubExamenSubSeccion(seleccion.EXAMEN_GEN_ID, subSeccion.NOMBRE, estudio.NOMBRE)">
                                <mat-icon>remove</mat-icon>
                              </button>
                              {{examenGeneral.resultado.NOMBRE}}
                            </td>
                            <td class="width-20">
                              <input type="text" class="form-control form-control-sm" id="examen"
                                [(ngModel)]="examenGeneral.resultado.RESULTADO">
                            </td>
                            <td colspan="1" class="with-60"></td>
                          </tr>
                        </tbody>
                    </table>-->
                </div>
              </div>
            </ng-template>

            <ng-template [ngIf]="examenGeneral.resultado.SUB_EXAMEN">
              <div class="titleSubexamen">{{examenGeneral.resultado.NOMBRE}}</div>
              <div class="form-group row" *ngFor="let estudio of examenGeneral.resultado.SUB_EXAMEN">
                <label for="examen" class="col-sm-4 col-form-label">{{estudio.NOMBRE}}</label>
                <div class="">
                  <input type="text" class="form-control form-control-sm" id="examen" [(ngModel)]="estudio.RESULTADO">
                </div>
              </div>
            </ng-template>

            <!--EXAMEN ESPECIAL 2-->

            <ng-template [ngIf]="examenGeneral.resultado.TIPO_EXAMEN == 2">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <!--table-borderless-->
                    <table class="table table-sm table-borderless">
                      <tbody *ngFor="let subSeccion of examenGeneral.resultado.SUB_SECCION">
                        <ng-template [ngIf]="subSeccion.ALINEACION !=2">
                          <tr *ngFor="let estudio of subSeccion.EXAMEN">
                            <td class="width-30">{{estudio.NOMBRE}}</td>
                            <td class="width-20">
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="estudio.RESULTADO">
                            </td>
                            <td class="width-50"></td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                  <mat-checkbox [(ngModel)]="examenGeneral.resultado.DESARROLLO">{{textCheked}}</mat-checkbox>
                  <ng-template [ngIf]="examenGeneral.resultado.DESARROLLO == false">
                    <div class="row" *ngFor="let subSeccion of examenGeneral.resultado.SUB_SECCION">
                      <ng-template [ngIf]="subSeccion.ALINEACION ==2">
                        <div class="col-md-2">
                          {{subSeccion.NOMBRE}}
                        </div>
                        <div class="col-md-5">
                          <div class="form-group row" *ngFor="let estudio of subSeccion.EXAMEN">
                            <label for="examen" class="col-sm-4 col-form-label">{{estudio.NOMBRE}}</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control form-control-sm" id="examen"
                                [(ngModel)]="estudio.RESULTADO">
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </ng-template>
                </div>
              </div>
              <ng-template [ngIf]="examenGeneral.resultado.DESARROLLO == true">
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <table class="table table-sm table-borderless">
                        <tbody>
                          <tr>
                            <td>INFORMACION DE SUSCEPTIBILIDAD</td>
                            <td>ANTIBIOTICO</td>
                            <td>INTERPRETACION</td>
                          </tr>
                          <tr *ngFor="let subExamen of examenGeneral.resultado.SUB_EXAMEN">
                            <td></td>
                            <td>{{subExamen.NOMBRE}}</td>
                            <td>
                              <input type="text" class="form-control form-control-sm width-10" id="examen"
                                [(ngModel)]="subExamen.RESULTADO">
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3">Interpretacion S: Susceptible I:Intermedio R:Resistente</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>

            <!--EXAMEN DE U. CONVENCIONALES 3-->

            <ng-template [ngIf]="examenGeneral.resultado.TIPO_EXAMEN == 3">
              <ng-template [ngIf]="examenGeneral.resultado.SUB_EXAMEN.length == false">
                <div class="row">
                  <div class="col-md-12">
                    <div>
                      <table class="table table-sm table-borderless">
                        <tbody>
                          <tr>
                            <td class="width-20">
                              <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                                (click)="removerSubExamenSubSeccion(seleccion.EXAMEN_GEN_ID, subSeccion.NOMBRE, estudio.NOMBRE)">
                                <mat-icon>remove</mat-icon>
                              </button>
                              {{examenGeneral.resultado.NOMBRE}}
                            </td>
                            <td class="width-20">
                              <input type="text" class="form-control form-control-sm" id="examen"
                                [(ngModel)]="examenGeneral.resultado.RESULTADO">
                            </td>
                            <td colspan="1" class="with-60"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-template>

            <!--EXAMEN GENERAL DE ORINA 4-->

            <ng-template [ngIf]="examenGeneral.resultado.TIPO_EXAMEN == 4">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <!--table-borderless-->
                    <table class="table table-sm table-borderless">
                      <tbody *ngFor="let subSeccion of examenGeneral.resultado.SUB_SECCION">
                        <tr>
                          <td colspan="4">{{subSeccion.NOMBRE}} </td>
                        </tr>
                        <tr *ngFor="let estudio of subSeccion.EXAMEN">
                          <td class="width-30">
                            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon"
                              (click)="removerSubExamenSubSeccion(examenGeneral.resultado,examenGeneral.resultado.EXAMEN_GEN_ID, subSeccion.NOMBRE, estudio.NOMBRE)">
                              <mat-icon>remove</mat-icon>
                            </button>
                            {{estudio.NOMBRE}}
                          </td>
                          <ng-template
                            [ngIf]="estudio.NOMBRE != '(N: 1,010 - 1,025)' && estudio.NOMBRE != '(Normal: 3,5 umol/L)'">
                            <td class="width-20">
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="estudio.RESULTADO">
                            </td>
                            <td class="width-50"></td>
                          </ng-template>
                        </tr>
                      </tbody>
                    </table>
                    <span *ngFor="let metodo of examenGeneral.resultado.METODO_EXAMEN_GENERAL" class="metodo">Metodo:
                      {{metodo.nombre}}</span>
                  </div>
                </div>
              </div>
            </ng-template>

            <!--EXAMEN CITOMETRIA HEMATICA 5-->

            <ng-template [ngIf]="examenGeneral.resultado.TIPO_EXAMEN == 5">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <!--table-borderless-->
                    <table class="table table-sm table-borderless">
                      <tbody *ngFor="let subSeccion of examenGeneral.resultado.SUB_SECCION">
                        <tr class="titleSubexamen">{{subSeccion.NOMBRE}}</tr>
                        <tr *ngFor="let estudio of subSeccion.EXAMEN">
                          <td class="width-30">{{estudio.NOMBRE}}</td>
                          <td class="width-20">
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="estudio.RESULTADO">
                          </td>
                          <td class="width-50"></td>
                        </tr>
                      </tbody>
                    </table>
                    <span *ngFor="let metodo of examenGeneral.resultado.METODO_EXAMEN_GENERAL" class="metodo">Metodo:
                      {{metodo.nombre}}</span>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-card>
          <div class="form-edit"></div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>
</div>