<div class="row all-table">
  <form [formGroup]="formCategoria" (ngSubmit)="edit ? updateSeccion(): saveNewSeccion()" class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Categoría': 'Agregar Categoría'}}</span>
      </div>
      <div class="col-md-6 text-right buttons-catalogo">
        <button mat-button id="seccionEstado" (click)="activarInactivar()"></button>
        <button mat-flat-button color="primary" type="submit" id="seccionGuardar" [disabled]="!seccion.estado || !formCategoria.valid" >Guardar</button>
        <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
      </div>
    </div>
    <div class="row form-edit">
      <div class="col-md-3">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Nombre" formControlName="nombre" required type="text" class="validate">
          <mat-error *ngIf="nombreCtrl.hasError('required')">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="input-full-width">
          <input matInput placeholder="Orden" formControlName="orden" required type="number" class="validate">
          <mat-error *ngIf="ordenCtrl.hasError('required')">
            El orden es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div *ngIf="edit" class="row margin-top">
      <small>Fecha creación: {{seccion.fechaCreacion}}</small>
    </div>
    <div *ngIf="edit" class="row">
      <small>Fecha actualización: {{seccion.fechaActualizacion}} </small>
    </div>
  </form>
</div>