<div class="row all-table">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <span class="title-catalogos">{{edit ? 'Editar Rol de Usuario': 'Agregar Rol de Usuario'}}</span>
      </div>
    </div>
    <mat-card class="form-edit">
      <form [formGroup]="formRol" (ngSubmit)="edit ? actualizarRol(): guardarRol()">
        <div class="row">
          <div class="col-md-6">
            <h5>Datos del rol</h5>
          </div>
          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-button id="rolEstado" (click)="activarInactivar()"></button>
            <button mat-flat-button color="primary" type="submit" id="seccionGuardar"
              [disabled]="!rol.estado || !formRol.valid">Guardar</button>
            <button mat-flat-button color="warn" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </div>

        <div class="row margin-up">
          <div class="col-md-3">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Nombre" formControlName="rolName" required type="text" class="validate">
              <mat-error *ngIf="rolNameCtrl.hasError('required')">
                El nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card>

    <mat-card class="margin-up">
      <form>
        <div class="row">
          <div class="col-md-6">
            <h5>Menus del Rol</h5>
          </div>

          <div class="col-md-6 text-right buttons-catalogo">
            <button mat-flat-button class="secondary" data-toggle="collapse" data-target="#collapseExample"
              aria-expanded="false" aria-controls="collapseExample">Nuevo menu</button>
          </div>
        </div>
        <div class="row">

        </div>
      </form>
      <div class="row">
        <div class="col-md-12">
          Vista previa:
          <nav class="margin-up navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Ziehl Neelsen</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <ng-template ngFor let-menu [ngForOf]="rolMenu">
                  <li class="nav-item" *ngIf="menu.dropdown == 0; else elseBlock">
                    <a class="nav-link" routerLink='{{menu.ruta}}'>{{menu.nombre}}</a>
                  </li>
                  <ng-template #elseBlock>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{menu.nombre}}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a *ngFor="let submenu of menu.submenu" class="dropdown-item"
                          routerLink='{{submenu.ruta}}'>{{submenu.nombre}}</a>
                      </div>
                    </li>
                  </ng-template>
                </ng-template>
              </ul>
              <div class=" my-2 my-lg-0">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Nombre de Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item">Salir</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="collapse row margin-up" id="collapseExample">
            <div class="col-md-12">

              <div class="row">
                <div class="col-md-3">
                  Menus y submenus disponibles
                </div>
              </div>
              <div class="row margin-up margin-left">
                <div class="col-md-3">
                  <div *ngFor="let menu of menus" class="row">
                    <mat-checkbox [(ngModel)]="menu.pertenece" class="">{{menu.nombre}}</mat-checkbox>
                    <div *ngIf="menu.submenu != null" class="col-md-12">
                      <div *ngFor="let submenu of menu.submenu" class="row margin-left">
                        <mat-checkbox [(ngModel)]="submenu.pertenece" class="">{{submenu.nombre}}</mat-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row margin-up-down">
                <div class="col-md-12">
                  <a href="#" > ¿Editar el menu?</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a href="#" >¿Crear nuevo menu?</a>
                </div>
              </div>  
            </div>
          </div>

        </div>
      </div>

    </mat-card>
  </div>
</div>